.vscode/
*.pyc
__pycache__/
setup.txt
env/
envL/
bin
include
lib
local
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
media/
RT_Website_19/requirements.txt.*
RT_Website_19/.idea
db.sqlite3
files/*
documents
documents/
documents/*
.idea/*
.idea
migrations
migrations/
migrations/*
media/
